<body class="main">
      <header class="">
        <nav class="navbar navbar-expand-md h-font navbar-light " id="hover-nav">
          <div class="h-font">
            <h1 class="h-font">Artnet News Scraper</h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" navbar-nav ml-auto nav-font">
              <li class="nav-item ">
                <a class="nav-link ks-nav" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ks-nav" href="/scrape">Scrape</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link ks-nav" href="/saved">Saved</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>


<div class="container-fluid">
            <div class="row justify-content-center">
      {{#each Articles}}
      {{#if saved}}
        <a class="link-to-art-page" href="/articles/{{id}}">
{{!-- <div id="fpc_effect-back"> --}}
  <div class="col-lg-5 border ks-container m-4 biggerBox" id="fpc_box">
            <div class=""  id="fpc_content">
              <section class="p-4">
                <div = "img-wrap">
                  <img class="image pb-4 pr-4 float-left" src={{image}}>
                </div>
                <section class="text-center">
                  <h4 class="h-font title-article-name ">{{title}}</h4>
                  <p class="title-article-name">{{summary}}
                  </p>
                  <br>
                  <div class="position-absolute bottom-center ">
                    <a  href="/articles/{{id}}" class="ks-button">Comments</a>
                  </div>
                  <br>
                  <div class="position-absolute bottom-right ">
                    <a data-id={{id}} href="/saved"class="ks-button un-save-btn">Un-Save</a>
                  </div>
                </section>
              </section>
                  <div id="fpc_corner-box">
                    <a id="fpc_page-tip" href={{link}} target="_blank">
                      <div id="fpc_corner-contents">
                        <div id="fpc_corner-button"><strong>Article Link</strong></div>
                      </div>
                    </a>
                  </div>
            </div>
          </div>
        </a>
      {{/if}}
        {{else}}
        <p>Nothing Saved Yet.</p>
  {{/each}}

          </div>
</div>

      <!-- Footer -->
      <footer class=" text-center mt-auto">
        <div class="h-font footerText">© 2019 Kayleigh Starr
        </div>
      </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>
